body {
  /* background-color: #282c34; */
  background-image: url(/src/pictures/IMG_0831.JPG);
  background-position: center;
  background-attachment: fixed;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
  padding: 30px;
  padding-top: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.backgroundbox {
  background: rgba(255,255,255,0.6);
  padding: 32px;
}

.cv {
  display: flex;
}

.cv-item {
  margin-top: 10px;
}

.cv-item-header {
  cursor: pointer;
}

.cv-col {
  flex-grow: 1;
}

.project-item-header {
  cursor: pointer;
}

.square-list {
  list-style-type: square;
}

.no-margin {
  padding: 0;
  margin: 0;
}

#menu {
  padding-left: 10px;
}